    /*
    Flaticon icon font: Flaticon
    Creation date: 21/05/2018 04:53
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-domain-registration:before { content: "\f100"; }
.flaticon-commerce:before { content: "\f101"; }
.flaticon-fashion:before { content: "\f102"; }
.flaticon-cosmetics:before { content: "\f103"; }
.flaticon-car:before { content: "\f104"; }
.flaticon-favorites-button:before { content: "\f105"; }
.flaticon-planning:before { content: "\f106"; }
.flaticon-open-book:before { content: "\f107"; }
    
    $font-Flaticon-domain-registration: "\f100";
    $font-Flaticon-commerce: "\f101";
    $font-Flaticon-fashion: "\f102";
    $font-Flaticon-cosmetics: "\f103";
    $font-Flaticon-car: "\f104";
    $font-Flaticon-favorites-button: "\f105";
    $font-Flaticon-planning: "\f106";
    $font-Flaticon-open-book: "\f107";