	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/05/2018 04:53
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-domain-registration:before { content: "\f100"; }
.flaticon-commerce:before { content: "\f101"; }
.flaticon-fashion:before { content: "\f102"; }
.flaticon-cosmetics:before { content: "\f103"; }
.flaticon-car:before { content: "\f104"; }
.flaticon-favorites-button:before { content: "\f105"; }
.flaticon-planning:before { content: "\f106"; }
.flaticon-open-book:before { content: "\f107"; }