/* Product List */

.product_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 30px 15px;
    margin-bottom: 50px;
    @media screen and (min-width: 1024px) {
        // grid-template-rows: 360px 360px;
    }
    @media screen and (max-width: 1023px) {
        // grid-template-rows: 360px 360px;
    }
}

.product_list-4_cols {
    grid-template-columns: repeat(4, 1fr);
}

.product_list_item {
    a {
        display: block;
        font-size: 13px;
        line-height: 1.6em;
        text-decoration: none;
        text-indent: 0;
        text-decoration: none !important;
    }
    .tit {
        transition: 0.2s cubic-bezier(0.42, 0, 0.58, 1);
        padding: 5px 20px 5px 10px;
        font-size: 13px;
        background-color: #ffffff;
        margin: 0;
        display: flex;
        line-height: 20px;
        -webkit-box-pack: justify;
        justify-content: space-between;
        color: #433e59;
        position: absolute;
        width: 100%;
        bottom: 0;
        font-weight: bold;
        span {
            backface-visibility: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}

.product_list_item {
    list-style: none;
    width: fit-content;
    margin: auto;
    padding-bottom: 20px;
    position: relative;
    &:after {
        content: '';
        transition: 0.2s cubic-bezier(0.42, 0, 0.58, 1);
        transition: 0.2s cubic-bezier(0.42, 0, 0.58, 1);
        transition: box-shadow 0.2s cubic-bezier(0.42, 0, 0.58, 1);
        width: calc(100% - 20px);
        height: 100%;
        display: block;
        background-color: #ffffff;
        box-shadow: 0px 5px 20px 0px rgba(51, 73, 94, 0.05);
        content: '';
        position: absolute;
        bottom: 0;
        left: 10px;
        z-index: -1;
    }
    &:hover:after {
        box-shadow: 0px 10px 40px 0px rgba(51, 73, 94, 0.15);
    }
    &:hover {
        .tit {
            // color: #ff0;
            // background: #4b0082;
        }
    }
}