/* Reset Style */

.nav-tabs,
.nav-tabs>li>a,
.nav-tabs>li>a:hover {
    border: none !important;
    background: transparent !important;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none !important;
    color: #fd6533 !important;
}

/* Customize */

.nav-tabs {
    max-width: 850px;
    width: 100% !important;
    margin: 0px auto 30px !important;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-content: center;
    a {
        color: #414141 !important;
        font-size: 15px !important;
        &:hover {
            color: #145c92 !important;
        }
    }
    &::before,
    &::after {
        display: none !important;
    }
}

.nav-tabs>li {
    float: none !important;
    margin-bottom: 0 !important;
}

.nav-tabs>li>a {
    margin: 0 !important;
    text-align: center;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
    border: none !important;
    color: #145c92 !important;
}

.nav-tabs {
    [class^="flaticon-"]:before,
    [class*=" flaticon-"]:before,
    [class^="flaticon-"]:after,
    [class*=" flaticon-"]:after {
        font-size: 50px;
        display: block;
        margin: 0;
        text-align: center;
    }
}