.content-sidebar #content-sidebar-wrap,
.full-width-content #content-sidebar-wrap,
.sidebar-content #content-sidebar-wrap {
    width: 100% !important;
}

.full-width-content #content {
    width: 100% !important;
    float: none !important;
}

#inner {
    padding-top: 0 !important;
}