#holder img{
    width: 100%;
    height: auto!important;
}

#holder{
    width: 100%;
    height: auto!important;
}
.odd:hover{
    color: black;
    background-color: #e2c9c94f;
}

.even:hover{
    color: black;
    background-color: #e2c9c94f;
}