
@media (max-width: 575.98px) { 
    
}

@media (max-width: 767.98px) {  
    .block-two-ct3{
        display: block;
    }
    .block-two-title h2,p{
        text-align: justify;
    }
    .block-two-title{
        width: 100%;
    }
    .w-72{
        width: 100%;
        float: left;
    }
    .w-68{
        width: 100%;
        display: block;
    }
    .block-one-right{
        display: none;
    }
    .w-42{
        padding: 0rem 0.5rem;
    }
    .block-one-center{
        border-right: none;
    }
    .w-65{
        width: 100%;
    }
    .w-35{
        width: 100%;
    }
    .block-three-right{
        display: none;
    }
    .block-one-left ul li{
        padding: 0rem .5rem;
    } 
    .block-one-left h2{
        padding: 0rem .5rem;
    }
    .w-35 .col-md-12{
        padding-top: 1rem;
        padding-left: 0px;
        padding-right: 0px;
    }
    .siderbar{
        padding-top: 1rem;
    }
    .w-58{
        width: 100%;
    }
    .w-42{
        width: 100%;
    }
    .banner-adsaaaa{
        display: none;
    }
    .topbar{
        display: none;
    }
    .logo-banner{
        display: none;
    }
    .block-one-left{
        border: none;
    }
    .navbar{
        width: 100%;
        height: 60px;
        padding: .5rem 0rem;
    }
    .main-menu {
        padding: 0px;
    }
    .main-menu .container{
        padding: 0px;
        width: 100%;
        max-width:768px
    }
    
    #navbarSupportedContent{
        background-color: white;
        width: 100%;
    }

    .nav-item{
        background: none;
    }
    .nav-item-2{
        background: none;
    }
    .navbar-expand-md .navbar-nav .nav-link{
        color: black;
    }
    .navbar-home i {
        padding-left: 1rem;
    }
    .navbar-light .navbar-toggler {
        color: rgb(251, 249, 249);
        border-color: rgb(255, 255, 255);
        margin-right:1rem ;
    }
    .dropdown-menu {
        background: #297cc38a;
    }
    .main-menu {
        position: sticky;
        top: 0rem;
        z-index: 1;
    }
}

@media (max-width: 991.98px) { 
    .block-two-link{
        font-size: 10pt;
        padding-top: 0.3rem;
    }
    .btn-view-all{
        padding: 5px 10px;
    }
    .block-two-title h2{
        padding-right: 10px;
    }
    
    
}


@media (max-width: 1199.98px) {  

}