/* 1 Header */

/* ****************** HEADER ********** */
.topbar{
    height: 40px;
}
.topbar-left{
    padding-top: 6px;
}
.topbar-left ul{
    float: left;
    padding-left: 0px;
}
.topbar ul li{
    list-style: none;
    display: inline;
}
.topbar-left ul li a i{
    color: #deb552;
    border-radius: 50%;
    height: 28px;
    width: 28px;
    border: solid 1px #deb552;
    line-height:28px;
    text-align: center;
}
.topbar-left ul li a i{
    font-size: 12pt;
}
.topbar-left ul li span {
    color: #979797;
}
.topbar-right{
    padding-top: 6px;
}
.topbar-right ul{
    float: right;
}
.topbar-right ul li a{
    font-size: 8pt;
    padding: 6px 10px;
    background-color: #f2f2f3;
    border-radius: 14px;
    margin-left: 15px;
    text-decoration: none;
    color: #565454;
}

.topbar-right ul li a:hover{
    color: #60718e;
    background-color: #f3e5c2;
    
}
.topbar-right ul li a i {
    padding-right: 3px;
    font-weight: bold;
    color: #deb552;
    font-size: 11pt;
}
.logo-banner{
    border-top: solid 1px #e1e1e1;
    height: 109px;
}
.logo-banner a{
    line-height: 109px;
}
.banner-adsaaaa{
    border: solid 1px #e1e1e1;
    margin: 10px;
}

/* menu */
.main-menu{
    background-color: #243a5e;
    
}
.navbar{
    height: 40px;
}
.navbar-home i{
    color: #deb552;
    font-size: 15pt;
}
.dropdown-menu {
    background: #243a5e;
    border: 0;
    border-top:solid 1px #e1e1e1 ;
    border-radius: none;
    height: auto;
    margin-top: -1px;
    border-radius: 0px;
    padding: 0px;
}
.dropdown:hover>.dropdown-menu {
    display: block;
}
.dropdown-item:hover{
    background:#085ca5;
    color:#fff;
}
.navbar-nav li a:hover{
    border-top: solid 2px #deb552;
    margin-top: -2px;
    background-color: #e1e1e1;
    color: #000;
}
.dropdown-menu a{
    color:#fff;
} 
.navbar-nav li:hover{
    color: black;
}
.navbar-expand-md .navbar-nav .nav-link{
    color:#eee; 
    padding-left: 15px !important;
    padding-right: 15px !important;
    
}
.nav-item{
  background: url('../images/menu-primary-1.png') right no-repeat; 
}
.nav-item-2{
    background: url('../images/menu-primary-2.png') right no-repeat; 
    padding-right: 12px;
  }
.navbar ul li:last-child{
    color:#eee; 
    background: none ;
    
}
.navbar-light .navbar-nav .nav-item .active{
    background-color: #deb552;
    color: #eee !important;
}
/* ****************** END HEADER ********** */
 /* CONTENT HOME */
 .block-one{
     padding: 15px 0px;
     border: solid 1px #e1e1e1;
 }
 .block-one-left a {
     text-decoration: none;
 }
 .block-one-left {
     border-right: solid 1px #e1e1e1;
 }
 .block-one-left h2{
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.32;
    letter-spacing: normal;
    padding: 15px 0px;
    color: rgb(34, 51, 77);
 }
 .block-one-left ul{
    padding-left: 19px;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: rgb(34, 51, 77);
 }
 .block-one-left ul li:hover a, li:hover{
     color: #deb552;
 }
 .block-one-left ul li a{
    padding: 0px;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    text-align: left;
    color: rgb(34, 51, 77);
 }
 .block-one-left ul li::before{
    content: "\f0a4"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
 }
 .block-one-center{
     border-right:solid 1px #e1e1e1 ;
 }
 .block-one-center h2{
    font-family: Helvetica;
    font-size: 17px;
    font-weight: bold;
    line-height: 19px;
    padding-left: 21px;
    border-top: solid 2px #deb552;
    padding-top: 15px;
    padding-bottom: 25px;
    border-width: 90%;
    margin:0px 10px;
    color: rgb(36, 58, 94);
 }
 .block-one-center ul li a{
     font-size: 14px;
     color: #243a5e;
     line-height: 19px;
     text-decoration: none;
 }
 .block-one-center ul li a:hover{
     color: #deb552;
 }
 .block-one-right{
     padding: 0px 10px;
 }
 .block-one-right img{
     border: solid 1px #e1e1e1;
     padding: 3px;
     margin-bottom: 13px;
 }
 /* block two */
 .block-two-title{
    padding-top: 0.7rem;
    padding-bottom: 0.3rem;
    padding-left: 1rem;
 }
 .block-two-title h2{
    font-size: 19px;
    font-weight: bold;
    line-height: 1.32;
    text-align: left;
    color: rgb(32, 98, 192);
    padding-left: 10px;
    border-left: solid 2px rgb(32, 98, 192);
    padding-right: 20px;
 }
 .block-two-title span a{
     text-decoration: none;
 }
 .block-two-link a:hover{
    color: #deb552;
}
 .block-two-link a{
    border-left: solid 2px #e1e1e1;
    border-right: solid 2px #e1e1e1;
    padding-left: 10px;
    padding-right: 10px;
    color: #e1e1e1;
    line-height: 1.36;
    text-align: left;
    color: rgb(38, 39, 40);
    line-height: 15px;
}
.block-two-ct3{
    border: solid 1px #e1e1e1;
    padding-top: 1.5rem;
    display: flex;
}
.block-two-ct3 h2{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.47;
    color: rgb(38, 39, 40);
    padding: 13px 0px;
}
.block-two-ct3 a{
    text-decoration: none;
}
.block-two-ct3-h2:hover h2{
    color: #deb552;
}
.block-two-ct3 p {
    font-size: 14px;
    line-height: 1.36;
    color: rgb(38, 39, 40);
}
.block-two-ct6-h2 li{
    display: flex;
    border-bottom: solid 1px #e1e1e1;
    margin: 0px 5px;
}
.block-two-ct6-h2{
    padding-left: 0rem;
}
.block-two-ct6-h2 li{
    padding-bottom: 0.5rem;
}
.block-two-ct6-h2 li:last-child{
    border-bottom: none;
}
.block-two-ct6-h2 h2{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.57;
    color: rgb(38, 39, 40);
    padding-top: 0px;
}
.block-three-title-child{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: rgb(38, 39, 40);
}
.block-three-title-child:hover{
    color: #deb552;
}
.block-three ul li a{
    font-size: 14px;
    line-height: 1.36;
    color: rgb(18, 36, 66);
}
.block-three ul li a:hover{
    color: #deb552;
}
.block-three ul li {
    list-style: square;
}
.block-three-right img{
    padding: 0.5rem 0rem;
}
/* SIDERBAR */

.siderbar-1-title{
    font-size: 17px;
    font-weight: bold;
    line-height: 1.12;
    color: rgb(22, 68, 115);
}
.siderbar{
    border-top: solid 4px #0c73cc;
    background-color: #f5f6fa;
}
.siderbar a{
    text-decoration: none;
}
.siderbar ul li{
    list-style: none;
    display: flex;
    border-top: solid 2px #e1e1e1;
    margin: 0rem 0.5rem ;
    padding-bottom: 0.5rem;
}
.siderbar ul li a h2:hover{
    color: #deb552;
}
.siderbar ul li h2{
    font-size: 17px;
    line-height: 1.47;
    color: rgb(38, 39, 40); 
}
.btn-view-all{
    background-color: #cbcbcb;
    padding: 5px 15px;
    border-radius: 16px;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(38, 39, 40);
}
.btn-view-all:hover{
    background-color: #deb552;
    color: white;
}
.btn-view-all:hover i{
    color: #565454;
    background-color: white;
}
.btn-view-all i{
    padding-left: 6px;
    border-radius: 50%;
    width: 17px;
    height: 16px;
    color: white;
    background-color: #deb552;
    margin-left: 6px;
}
.dropdown-toggle::after{
    display: none;
}
.nav-footer{
    background-color: #e9e9e9;
    height: 40px;
    margin-top: 0.5rem;
}
.nav-footer ul {
    padding-left: 0rem;
}
.nav-footer ul li {
    list-style: none;
    display: inline;
    color: #6b6b6b;
    font-size: 17px;
    line-height: 40px;
    border-right: solid 1px #6b6b6b42;
    padding:0rem 0.5rem ;
}
.nav-footer ul li a{
    color: #6b6b6b;
    text-decoration: none;
}
.nav-footer ul li a:hover{
    color: #deb552;
}
.nav-footer ul li:first-child{
    padding-left: 0rem;
}
.nav-footer ul li:last-child{
    border-right: none;
}
.nav-footer p{
    font-size: 14px;
    line-height: 1.36;
    text-align: left;
    color: rgb(84, 84, 84);
}
.footer-left-one{
    border: solid 1px #e1e1e1;
}
.footer-left-one-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: rgb(84, 84, 84);
}
.fb-page, 
.fb-page span, 
.fb-page span iframe[style] { 
    width: 100% !important; 
}
.footer-btn-chat{
    background-color: #243a5e;
    padding: 8px 14px;
    color: white;
}
.footer-btn-view{
    padding: 8px 12px;
    background-color: #eba903;
    color: white;
}
.footer-btn-view:hover{
    background-color: #deb552;
    color: white;
    text-decoration: none;
}
.footer-btn-chat:hover{
    text-decoration: none;
    color: white;
    background-color: #deb552;
}
.footer-bottom-end h3{
    font-size: 14px;
    font-weight: bold;
    line-height: 1.36;
    color: rgb(82, 82, 82);
    padding: 1.3rem 0rem;
    margin: 0px;
}
.footer-bottom-end p{
    font-size: 14px;
    line-height: 1.36;
    color: rgb(125, 121, 121);
}

/* page */
.boder-solid1 {
    border: solid 1px #e1e1e1;
}
.page-content h1{
    font-size: 28px;
    font-weight: bold;
    line-height: 1.18;
    color: rgb(0, 0, 0);
}
.breabcrumb{
    border-top: dotted 2px #e1e1e1;
    border-bottom: dotted 2px #e1e1e1;
    margin-left: 0px;
}
.page-siderbar-title{
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-top: solid 2px #deb552;
    padding: .6rem 0rem;
    color: rgb(36, 58, 94);  
}
.page-siderbar ul li{
    list-style: none;
    display: flex;
    border-bottom: solid 1px #e1e1e1;
}
.page-siderbar ul li:last-child{
    border-bottom: none;
}
.page-siderbar ul li h2{
    font-size: 11pt;
    color: rgb(36, 58, 94);  
}
.page-siderbar ul li h2:hover{
    color: #eba903;
}
.page-siderbar-2 ul li{
    list-style: none;
    display: grid;
    float: left;
    padding: 0rem .3rem!important;
}
.page-siderbar-2 ul li h2{
    font-size: 9pt;
    text-align: justify;
    padding-top: .7rem;
}
.page-ads-img img{
    padding-bottom: .5rem;
}
.page-text ul li{
    color: rgb(38, 39, 40);

}
/* socical */
.twitter-share-button{
    background-color: #1b95e0;
    color: white;
    padding: 1px 8px 1px 6px;
    border-radius: .3rem;
    margin-bottom: -0.1rem;
}
.twitter-share-button:hover{
    text-decoration: none;
    color: white;
    background-color: #0c7abf;
}
.social-left{
    /* position: sticky; */
}
.social-left ul li{
    list-style: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    font-size: 16pt;
    line-height: 40px;
    background-color: rgb(22, 68, 115);
    margin-top: .6rem;
}
.social-left ul li a{
    color: white;
}
.social-left .page-youtube {
    background-color: #e73d2c;
}
.social-left .page-twitter{
    background-color: #47ade9;
}
.social-left .page-facebook{
    background-color: #3a5ba0;
}
.social-left .page-comment{
    background-color: #64b7f3;
}
.span-line-height-fb-btn{
    line-height: 20px;
}
/* end page */
.w-72{
    width: 72%;
    float: left;
}
 .w-68{
     width: 68%;
     float: left;
     display: flex;
 }
 .w-65{
    width: 65%;
    float: left;
}
 .w-58{
     width: 58%;
     float: left;
 }
 .w-42{
     width: 42%;
     float: left;
 }
 .w-35{
    width: 35%;
    float: left;
}
 .w-32{
     width: 32%;
     float: left;
 }
.w-28{
    width: 28%;
    float: left;
    display: flex;
}
 /* END CONTENT HOME */