/*
1_Default_css
    1_1_Fix_img_fit_parent_div
2_Header
3_BANNER
4_Menu Mobile
5_MAIN
    5_1_Title
    5_2_block1
    5_3_block2
    5_4_block3
    5_5_Form ÄÄƒng kÃ½
6_Footer
8_TrangCon_1
    8_1_Thong-Tin-IONE
    8_2_Dang-Ky-Thong-Tin
    8_3_Loi-Ich-IONE
    8_4_UuDiemIONE
    8_5_LoiIchFSI
    8_6_KhachHang
    8_7_Policy
9_Menu Desktop
*/




/* 1_Default_css */
/* Font */
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Black.otf);
    font-weight: black;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Bold.otf);
    font-weight: bold;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Light.otf);
    font-weight: 300;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: MarkPro;
    src: url(../fonts/MarkPro-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: SanFranciscoDisplay;
    src: url(../fonts/SanFranciscoDisplay-Medium.otf);
    font-weight: 500;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Light.ttf) format('truetype');
    font-weight: 300;
}

html {  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }

* { margin: 0; padding: 0;-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; } 
/* End Font */
body {
    background:#fff;
    color:#000;
    font-size:13px; 
    font-family: MarkPro, "Helvetica Neue", Helvetica, sans-serif;
}

img { width: auto; height: auto; max-width: 100%;/* max-height:100%; */ vertical-align: middle;  }

 
:focus { outline: 0 !important; }
figure { margin: 0; padding: 0; } 
img[src*=".svg"] { height: 100%;  }
iframe { border: none; }

::selection {
    background: #AAF2E4; /* Safari */
    color: #333333;
}
::-moz-selection {
    background: #AAF2E4; /* Firefox */
    color: #333333;
}

p { margin-bottom: 10px; }
* > p:last-child { margin-bottom: 0 !important; }
p a:hover { border-color: transparent; }
a { text-decoration:none; color: inherit; }
a:hover, a:focus { text-decoration: none; } 
a,img{
    -webkit-transition: all ease .4s;
    -moz-transition:    all ease .4s;
    -ms-transition:     all ease .4s;
    -o-transition:      all ease .4s;
    transition:         all ease .4s;
}
h1 { line-height: 130%; }
h2 { font-size: 26px; line-height: 130%; }
h3 { font-size: 20px;  }
h4 { margin-bottom:8px;  font-size: 15px; font-weight:500;}
h5 { font-size: 14px; line-height: 160%; }
h6 { font-size: 12px; line-height: 160%; } 
ol { position: relative;  }
ul { list-style: none; }
h1,h2,h3,h4,h5,h6,ul{margin: 0}
.fl {float: left;}
.fr {float: right;}
.all {float: left;width: 100%;} 


a:hover {
    text-decoration: none;
}
.clear {
    clear: both;
}

.btn-group .btn {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

}
*, *::after, *::before {
    box-sizing: border-box;
}
img {
    max-width: 100%;
}
* {
    padding: 0;
    margin: 0;
    outline: none !important;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
@charset "UTF-8";
.no-padding-lr {
    padding-left: 0px;
    padding-right: 0px;
}
.no-padding-l {
    padding-left: 0px;
}
.no-padding-r {
    padding-right: 0px;
}
.no-padding-tb {
    padding-top: 0px;
    padding-bottom: 0px;
}
.no-padding {
    padding-bottom: 0;
}
.nopad{
    padding: 0 !important;
}


.fbold{
    font-weight: bold;
}
.theme_color{
    color: #ed1d24;
    /*color: rgba(237,29,36);*/

}
.text_white{
  color: #fff !important;
}
.text_link_black{
    color: #404040;
}

.text_link_black:hover{
    color: #ed1d24 ;
}


.dp_block  {
    display: block;
}
.dp_table{
    display: table;
    table-layout: fixed;
    width: 100%;
}
.dp_table_cell{
    display: table-cell;
}
.va_mid{
    vertical-align: middle;
}
.text_italic {
    font-style: italic;
}

.fw_600{
    font-weight: 600;
}
.mb_150{
    margin-bottom: 150px !important;
}
.mb_100{
    margin-bottom: 100px !important;
}
.mb_80{
    margin-bottom: 80px !important;
}
.mb_50{
    margin-bottom: 50px !important;
}
.mb_45{
    margin-bottom: 45px !important;
}
.mb_40{
    margin-bottom: 40px !important;
}
.mb_35{
    margin-bottom: 35px !important;
}
.mb_30{
    margin-bottom: 30px !important;
}
.mb_25{
    margin-bottom: 25px !important;
}
.mb_20{
    margin-bottom: 20px !important;
}
.mb_15{
    margin-bottom: 15px !important;
}
.mb_10{
    margin-bottom: 10px !important;
}
.mb_5 {
    margin-bottom: 5px !important;
}
.mb_0 {
    margin-bottom: 0px !important;
}
.mt_30 {
    margin-top: 30px !important;
}
.mt_40 {
    margin-top: 40px !important;
}
.mt_80 {
    margin-top: 80px !important;
}
.mt_100 {
    margin-top: 100px !important;
}
.mt_160 {
    margin-top: 160px !important;
}
.mt_150 {
    margin-top: 150px !important;
}
.mt_130 {
    margin-top: 130px !important;
}
.mr_35{
    margin: 35px 0;
}
.mr_30{
    margin: 30px 0;
}
.mr_25{
    margin: 25px 0;
}
.mr_20{
    margin: 20px 0;
}
.mr_15{
    margin: 15px 0;
}
.mr_10{
    margin: 10px 0;
}
.mr_5 {
    margin: 5px 0;
}
.mr_0{
    margin: 0;
}
.pdt_100 {
    padding-top:100px !important;
}
.pdr_40 {
    padding-right: 40px !important;
}
.pd_10 {
    padding: 10px;
}
.font16 {
    font-size: 16px;
}
.wpx720 {
    width: 720px;
    max-width: 100%;
}
.wpx1200 {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}
.wpx1470 {
    width: 1470px;
    max-width: 100%;
    margin: auto;
}

@media (min-width: 1600px) {
    .container {
        width: 1620px;
    }
}
.posiRelative {
    position: relative;
}
.title_block {
    text-align: center;
    color: #0f487e;
    font-size: 36px;
    text-transform: uppercase;
}

.plugin_ico {
    display: table;
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #66b969;
    z-index: 1;
    border-radius: 10px 0 0 10px;
}
.plugin_ico li {
    display: block;
    position: relative;
    width: 50px;
    height: 60px;
    text-align: center;
}
.plugin_ico li::after {
    content: "";
    display: block;
    width: 30px;
    height: 1px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.plugin_ico li:last-child:after {
    display: none;
}
.plugin_ico li a {
    color: #fff;
    display: inline-block;  
    vertical-align: middle;  
    font-size: 25px;  
}
.plugin_ico li a:hover {
    opacity: .8;
    transform: rotate(30deg);
}
.plugin_ico li:before{
    content: '';
    display: inline-block;
    vertical-align: middle;
    height: 100%;       
}

/*2.Header*/
.slider {
    margin-bottom: 70px;
}
header .navbar-brand {
    height: 87px;
}
header .navbar-default {
    background: #fff;
}
header .navbar {
    border-radius: 0;
    margin-bottom: 0;
    z-index: 2;
}
header .nav_custContent {
    /*float: initial;
    margin: auto;*/
    width: fit-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
header .navbar .navbar-nav > li > a {
    color: #0f487e;
    text-transform: uppercase;
}
header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #0f487e;
}
header .navbar-right {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .navbar-nav > li > a.btn_login {
    display: block;
    width: 100px;
    height: 35px;
    text-align: center;
    text-transform: none;
    background: #66bb6a;
    line-height: 35px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 7.5px;
    color: #fff;
    border-radius: 2px;
}
header .navbar-nav > li > a.btn_login:hover {
    background: #66bb6a;
    color: #fff;
    opacity: .8;
}
.search_relative {
    position: relative;
}
.search_main {
    position: absolute;
    right: 0;
    top: 69px;
    display: none;
}
.search_main input {
    height: 35px;
    padding: 0 10px;
}
/*-----Slider-----*/
.slider .owl-carousel .owl-item img {
    display: block;
    width: 100%;
    height: calc(100vh - 89px);
    object-fit: cover;
}
.slider .owl-theme .owl-dots .owl-dot span {
    border: 3px solid #66bb6a;
    width: 18px;
    height: 18px;
    background: none;
}
.slider .owl-theme .owl-dots .owl-dot.active span, .slider .owl-theme .owl-dots .owl-dot:hover span {
    background: #fff;
}
.slider .owl-theme .owl-nav.disabled+.owl-dots {
    position: absolute;
    top: calc(100% - 42px);
    left: 50%;
    transform: translateX(-50%);
}
/*-----Khóa học-----*/
.flex-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.block_01 {
    margin-top: 110px;
    margin-bottom: 150px;
    justify-content: center !important;
}
.col-2-cust {
    width: 20%;
    position: relative;
}
.col-3-cust {
    width: calc(25% - 12.5px);
    position: relative;
}
.col-2-cust:after {
    content: "";
    display: block;
    height: 100px;
    width: 1px;
    background: #959493;
    position: absolute;
    top: 0;
    right: 0;
}
.col-2-cust:last-child:after {
    display: none;
}
.col-2-cust img {
    height: 100px;
    object-fit: cover;
    margin-bottom: 60px;
    /*border-right: 1px solid #959493;*/
}
.info_KH {
    font-size: 24px;
    color: #66b969;
    text-transform: capitalize;
}


/*-----Block 02-----*/
.block_02 {
    margin-top: 60px;
    margin-bottom: 70px;
}
.col-6-cust {
    width: 50%;
    min-height: 495px;
    padding: 90px;
    color: #fff;
}
.bgInfo_1, .bgInfo_2 {
    flex-flow: column;
    justify-content: space-between;
    background-size: cover;
}
.bgInfo_1_home {
    background: url(../image/bgBlock4_1.jpg) no-repeat;
    background-size: cover;
}
.title_bgInfo{
    color: #fff;
    text-align: right;
}
.content_bgInfo {
    font-size: 24px;
}
.bgInfo_2_home {
    background: url(../image/bgBlock4_2.jpg) no-repeat;
    background-size: cover;
}
.btn_cust--bl2 {
    display: block;
    height: 35px;
    width: 135px;
    line-height: 35px;
    text-align: center;
    background: #66b969;
    color: #fff;
    border-right: 2px;
}
.btn_cust--bl2:hover {
    color: #fff;
    opacity: .7;
}
.bgInfo_2 .flex-box {
    flex-wrap: wrap;
    justify-content: space-between;
}
.bgInfo_2 .btn_cust--bl2 {
    background: #fff;
    color: #66b969;
}
.col-4-cust {
    width: 33.3333333%;
    position: relative;
}
.bgInfo_2 .col-4-cust {
    padding-bottom: 15px;
    margin-bottom: 50px;
}
.bgInfo_2 .col-4-cust:after {
    content: "";
    display: block;
    width: 100px;
    height: 3px;
    background: #fff;
    position: absolute;
    top: 100%;
    left: 0;
}
.count {
    font-size: 48px;
    font-weight: bold;
}
.sliderInfo {
    margin-top: 70px;
    margin-bottom: 40px;
}
.sliderInfo.owl-carousel .owl-stage {
    overflow: inherit;
}
.sliderInfo.owl-carousel.owl-drag .owl-item {
    margin-top: 99px;
    margin-bottom: 110px;
}
.sliderInfo .owl-item.active.center {
    transform: scale(1.5);
    z-index: 1;
    z-index: 9;
}
.sliderInfo .owl-item {
    -webkit-transition: all .25s;
    -moz-transition: all .25s;
    -ms-transition: all .25s;
    -o-transition: all .25s;
    transition: all .25s;
}
.sliderInfo img {
    height: 300px;
    object-fit: cover;
}
.sliderInfo .item a {
    position: relative;
    display: block;
}
.sliderInfo .item a:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
}
.sliderInfo .owl-item.active.center .item a:before {
    display: none;
}
.sliderInfo--text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 50px 30px;
    background: red;
    background: rgb(246,211,101);
    color: #fff;
    background: linear-gradient(0deg, rgba(102,185,105,1) 40%, rgba(102,185,105,0) 100%);
    display: none;
}
.newrela{
    position: relative;
}
.news--text {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 24pt;
    padding: 50px 30px;
    font-weight: 600;
    background: red;
    background: rgb(246,211,101);
    color: #000001;
    background: linear-gradient(0deg, rgba(246,211,101) 40%, rgba(102,185,105,0) 100%);
    /* display: none; */
}
.p--sliderInfo--text, .h5--sliderInfo--text {
    font-size: 18px;
    text-align: center;
    display: none;
}

.sliderInfo .owl-item.active.center .sliderInfo--text, .sliderInfo .owl-item.active.center .p--sliderInfo--text,  .sliderInfo .owl-item.active.center .h5--sliderInfo--text {
    display: block;
}
.h5--sliderInfo--text {
    font-weight: bold;
    margin-bottom:10px;
    margin-top: 20px;
}
.cust_btn_nextPrev.owl-carousel .owl-nav .owl-next, .cust_btn_nextPrev.owl-carousel .owl-nav .owl-prev {
    position: absolute;
    background: rgba(102,185,105,1);
    color: #fff;
}
@media (max-width: 1320px) {
    .cust_btn_nextPrev.owl-carousel .owl-nav .owl-next, .cust_btn_nextPrev.owl-carousel .owl-nav .owl-prev {
        display: none;
    }
}
.sliderInfo.owl-carousel .owl-nav .owl-next {
    right: -60px;
    top: 220px;
}

.sliderInfo.owl-carousel .owl-nav .owl-prev {
    left: -60px;
    top: 220px;
}
.btn_boxMore {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #66b969;
    color: #66b969;
    font-size: 18px;
}
.btn_boxMore:hover {
    background: #66b969;
    color: #fff;
}


/*-----Block_04-----*/
.block_04 {
    background: #0f487e;
    min-height: 30px;
    border-radius: 10px;
    margin-top: 100px;
    padding: 50px;
    color: #fff;
    margin-bottom: 60px;
}
.block_04 form {
    margin-top: 35px;
}
.form-flex {
    justify-content: space-between;
}
.form-flex .col-4-cust {
    width: calc(33.333333% - 35px);
}
.form-flex input, .form-flex textarea {
    width: 100%;
    border: #fff;
    box-shadow: none;
    background: #fff;
    color: #000;
    padding: 20px 10px 10px 10px;
}
.form-flex input {
    height: 45px;
}
.form-flex .col-8-cust {
    width: calc(66.666666% - 18px);
}
.form-flex textarea {
    height: 90px;
    border-radius: 0;
}
.btn_block04 {
    display: block;
    width: 190px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    background: #66b969;
}
.btn_block04:hover {
    color: #fff;
    opacity: .7;
}
.flext-wrapRev {
    flex-flow: wrap-reverse;
}

/*-----Block05-----*/
.block_05 {
    background: #f5f5f5;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 60px;
    margin-bottom: 80px;
}
.slider_doitac img {
    height: 90px;
    object-fit: contain;
    transition: all .25s;
}
.slider_doitac img:hover {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(.9);
}
.slider_doitac.owl-carousel .owl-nav .owl-next, .slider_doitac.owl-carousel .owl-nav .owl-prev {
    top: 50%;
    transform: translateY(-50%);
}
.slider_doitac.owl-carousel .owl-nav .owl-next {
    right: -135px;
}

.slider_doitac.owl-carousel .owl-nav .owl-prev {
    left: -135px;
}
/*-----Block06-----*/
.block_06 {
    margin-top: 50px;
}
.iconMap {
    font-weight: bold;
}
.iconMap img {
    height: 50px;
    margin-bottom: 15px;
}
.block_06 >ul.nav.nav-tabs {
    display: table;
    margin: auto;
    border: none;
}
.block_06 >ul.nav.nav-tabs >li {
    position: relative;
    z-index: 999;
}
.block_06 >ul.nav.nav-tabs >li:after {
    content: "";
    display: block;
    height: 5px;
    width: 65px;
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.block_06 >ul.nav.nav-tabs >li.active:after {
    background: #f7d00d;
}
.block_06 >ul.nav.nav-tabs >li:hover {
    background: none;
}
.block_06 >ul.nav.nav-tabs >li:not(.active) img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all .25s;
}
.block_06 >ul.nav.nav-tabs >li.active:after {

}
.block_06 >ul.nav.nav-tabs >li:not(.active):hover img {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
.block_06 .nav-tabs > li.active > a, .block_06 .nav-tabs > li.active > a:hover, .block_06 .nav-tabs > li.active > a:focus {
    border: none;
    background: none;
}
.block_06 .nav-tabs > li > a {
    border: 0px;
}
.block_06 .nav > li > a:hover, .block_06 .nav > li > a:focus {
    background: none;
}
.block_06 .nav-tabs > li > a:hover, .block_06 .nav-tabs > li > a:focus {
    border-color: transparent;
}
.block_06 iframe {
    width: 100%;
    height: 600px;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(99%); /* Chrome 19+ & Safari 6+ */
    -webkit-backface-visibility: hidden;  /* Fix for transition flickering */
    margin-top: 35px;
}
/*-----footer-----*/
footer {
    background: #041729;
    min-height: 100px;
    color: #fff;
    padding-top: 100px;
    padding-bottom: 100px;
}
.item_flex {
    flex-grow: 2;
    min-height: 50px;
    display: flex;
}
.item_flex:nth-of-type(2) {
    flex-grow: 5;
}
.item_flex:nth-of-type(3) {
    flex-grow: 3;
}
.item_01 img {
    height: 100px;
}
.item_02 {
    justify-content: space-between;
}
.item_flex--item {
    width: calc(25% - 30px);
    font-size: 14px;
}
.item_flex--item li {
    margin-bottom: 10px;
}
.titleList_footer {
    font-size: 18px;
    margin-bottom: 30px;
    text-transform: uppercase;
}
.item_03--list {
    width: 100%;
}
.item_03--list img {
    height: 30px;
    margin-right: 10px;
}
.item_03--list span, .item_03--list img {
    float: right;
}
.item_03--list span {
    font-weight: bold;
    font-size: 20px;
}
.item_03 ul li {
    margin-bottom: 10px;
}
.item_03 ul li a {
    font-size: 30px;
    margin-left: 15px;
}
.footerCust {
    border-bottom: 1px solid #0f487e;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.footerCust_bot {
    justify-content: space-between;
    font-size: 14px;
}

/*----------Page_khohoc----------*/
.qoutes {
    background: #f3f3f3;
    border-radius: 5px;
    padding: 70px 15px;
    margin-bottom: 40px;
    /*margin-top: 100px;*/
}
.qoutes_content {
    position: relative;
    width: 950px;
    margin: auto;
    font-size: 20px;
    color: #003366;
}
.qoutes_content:after, .qoutes_content:before {
    content: "";
    display: block;
    width: 50px;
    height: 50px;
    position: absolute;
}
.qoutes_content:before {
    background: url(../image/quotes_left.png) no-repeat;
    background-size: contain;
    top: 0px;
    left: -100px;
}
.qoutes_content:after {
    background: url(../image/quotes_right.png) no-repeat;
    background-size: contain;
    top: -20px;
    right: -100px;
}
.bg_khohoc_1 {
    background: #630460;
    color: #ffcc00;
}
.bg_khohoc_2 {
    background: url(../image/bgKhoahoc_1.jpg) no-repeat;
    background-size: cover;
    color: #ffcc00;
}
.bg_khohoc_3 {
    background: url(../image/bgKhoahoc_2.jpg) no-repeat;
    background-size: cover;
}
.bg_khohoc_4 {
    background: #0f487e;
}
.bg_khohoc_4 .btn_cust--bl2 {
    background: #fff;
    color: #0f487e;
    font-size: 16px;
}
.bg_khohoc_4 .title_bgInfo {
    text-align: left;
}
.bg_khohoc_1 .title_bgInfo {
    color: #ffcc00;
}
.bg_khohoc_1 .btn_cust--bl2 {
    background: #fff;
    color: #630460;
    font-size: 16px;
}

/*----------TOÁN HỌC----------*/
.col-md-5--cust {
    background: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    
}
.wdthIMG img {
    width: 100%;
}
.title_h2 {
    font-size: 24px;
    color: #f7d00d;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.oject_img img {
    height: 500px;
    object-fit: cover;
}

.absoluteLeft_0 {
    left: 0 !important;
    right: inherit !important;
}
.dacdiemKH h2.title_h2 {
    color: #000;
    margin-bottom: 30px;
}
h2.title_h2 img {
    height: 65px;
    width: 65px;
    object-fit: contain;
    float: left;
    margin-right: 10px;
    border-bottom: 3px solid #f7d00d;
    padding-bottom: 15px;
}
.lotrinhhoc {
    margin-bottom: 150px;
}
.lotrinhhoc .col-3-cust {
    height: 250px;
    background: red;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 15px;
}
.lotrinhhoc .col-3-cust:nth-of-type(1) {
  background-color: #00bff3;
}
.lotrinhhoc .col-3-cust:nth-of-type(2) { 
  background-color: #448ccb; 
}
.lotrinhhoc .col-3-cust:nth-of-type(3) {
  background-color: #5674b9;
}
.lotrinhhoc .col-3-cust:nth-of-type(4) {
  background-color: #8560a8;
}
/*----------toivaieg----------*/
.toivaieg .col-4-cust {
    width: calc(33.333333% - 20px);
}
.toivaieg .col-4-cust {
    transition: all .25s;
    margin-bottom: 30px;
}
.toivaieg .col-4-cust img, .content_right .col-6-cust img {
    border-bottom: 10px solid #f7d00d;
    margin-bottom: 20px;
}
.block_display {
    display: block;
}
.title_news {
    color: #66bb6a;
    margin-top: 10px;
}
.toivaieg .col-4-cust:hover {
    cursor: pointer;
/*    -webkit-box-shadow: 4px 4px 6px 0px rgba(204,204,204,1);
    -moz-box-shadow: 4px 4px 6px 0px rgba(204,204,204,1);
    box-shadow: 4px 4px 6px 0px rgba(204,204,204,1);*/
    margin-top: -5px;
}


/*----------Tôi và IEG_Bài viết----------*/
.wpx400 {
    width: 400px;
    max-width: 100%;
}
.content_baiviet {
    display: flex;
    flex-wrap: wrap;
}
.content_left--list >li >a {
    display: block;
    height: 110px;
    line-height: 110px;
    border-left: 5px solid transparent;
    border-bottom: 1px solid #ccc;
    padding: 0 40px;
    font-size: 24px;
    color: #000;
}
.content_left--list >li >a:hover, .content_left--list >li.active >a {
    background: #f2f2f2;
    border-color: #f7d00d;
}
.content_right {
    width: calc(100% - 400px);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.content_right .col-6-cust {
    width: calc(50% - 100px);
    padding: 0;
    min-height: inherit;
    margin-bottom: 60px;
}
.content_right .col-6-cust p.font18, p.mt_20 {
    color: #000;
}
.content_right p.title_news {
    color: #66bb6a !important;
}

/*----------Tôi và IEG bài viết chi tiết----------*/
ul.content_left--list.mt_130_cust >li {
    margin: 15px 0;
}
ul.content_left--list.mt_130_cust >li >ul >li:first-child {
    padding: 10px 15px;
}
ul.content_left--list.mt_130_cust >li >ul >li img {
    border-radius: 5px;
    width: 120px;
    height: 100px;
    object-fit: cover;
}
ul.content_left--list.mt_130_cust >li >ul {
    display: flex;
    align-items: center;
}
.toivaIEG_baivietchitiet {
    width: 100%;
    padding-left: 35px;
    font-size: 18px;
}
.time_news {
    font-size: 14px;
}
.flext_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wimg100 img {
    width: 100%;
}
.title_tintuc {
    position: relative;
    border-left: 5px solid #f7d00d;
    line-height: 50px;
    padding-left: 30px;
    margin-bottom: 50px;
}






.box_listCust >li {
    width: calc(50% - 30px);
    margin-top: 50px;
}
.box_listCust a {
    display: block;
}
.colorBleck {
    color: #000;
}
.colorMain {
    color: #66b969;   
}
.font30 {
    font-size: 30px;
}
.font24 {
    font-size: 24px;
}
.font18 {
    font-size: 18px;
}
.bg_vang {
    background: #f7d00d;
}
.bg_xanhnuocbien {
    background: #0f487e;
}
.bg_xam {
    background: #f3f3f3;
}
.btn_moreCust {
    display: block;
    width: 290px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

header .navbar-default .navbar-nav > li > a:hover {
    position: relative;
}
header .navbar-default .navbar-nav > li > a:hover:after, header .navbar-default .navbar-nav > li > a:hover:before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 28px;
    left: 50%;
    transform: translateX(-50%);
}
header .navbar-default .navbar-nav > li > a:hover:before {
    top: -20px;
    background: #66b969;
}
header .navbar-default .navbar-nav > li > a:hover:after {
    bottom: -20px;
    background: #199cc7;
}


header .navbar-default .navbar-nav > .active > a {
    position: relative;
}
header .navbar-default .navbar-nav > .active > a:after, header .navbar-default .navbar-nav > .active > a:before {
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 28px;
    left: 50%;
    transform: translateX(-50%);
}
header .navbar-default .navbar-nav > .active > a:before {
    top: -20px;
    background: #66b969;
}
header .navbar-default .navbar-nav > .active > a:after {
    bottom: -20px;
    background: #199cc7;
}






@media all{
    .text-center{text-align:center;}
    .container{margin-right:auto;margin-left:auto;padding-left:15px;padding-right:15px;}
   
    /*! CSS Used from: https://theme.hstatic.net/1000075078/1000501243/14/styles.css?v=479 ; media=all */
    @media all{
    .p-r-30{padding-right:30px;}
    .p-b-30{padding-bottom:30px;}
    .line_after_heading:after{content:'';height:4px;background:#0f487e;width:50%;display:block;}
    .section_heading{text-align:center;font-weight:700;position:relative;margin-bottom:30px;margin-top:0;font-size:42px;font-family:'Bebas Neue','Lato', sans-serif; color: #0f487e}
    .line_after_heading_section:after{width:50%;margin:0 auto;}
    #brand_story .block_brand_story_title{color:#EA8025;margin-top:0;margin-bottom:30px;float:none;text-align:center;display:inline-block;}
    .block_brand_story_4{padding:90px 0;}
    .full_img{width:100%;float:left;}
    .human_item a{display:block;}
    .human_wrap{padding:0;max-width:1088px;}
    .human_img{float:left;min-width:550px;height:500px;background-position:50% 50%;background-size:cover;}
    .human_content{width:calc(100% - 550px);float:left;padding:20px 30px;max-height:500px;overflow-y:auto;}
    .human_name{float:none;color:#000;display:inline-block;}
    .human_name:after{background:#EA8025;}
    .human_job{font-family:'Lato', sans-serif;font-size:16px;}
    .human_des{font-size:16px;font-weight:300;}
    .view_more_human{display:inline-block;background:#000;padding:8px 36px;font-size:18px;font-weight:700;color:#fff;font-family:'Bebas Neue','Lato', sans-serif;}
    @media (min-width: 1200px){
    .container{width:1116px;}
    .half_img_left{width:52.8%;float:left;}
    .half_img_right{width:47.2%;float:left;}
    .human_wrap{max-width:1088px;}
    }
    @media (max-width: 1199px){
    .section_heading{font-size:32px;}
    }
    @media (max-width: 1199px) and (min-width: 992px){
    .half_img_left{width:53%;float:left;}
    .half_img_right{width:47%;float:left;}
    }
    @media (max-width: 991px){
    .human_wrap{max-width:960px;}
    }
    @media (max-width: 991px) and (min-width: 768px){
    #brand_story .block_brand_story_4{padding:60px 0;}
    .half_img_left{float:left;width:53.5%;}
    .half_img_right{float:left;width:46.5%;}
    .human_img{min-width:760px;height:300px;width:100%;}
    .human_content{width:100%;padding:15px;}
    }
    @media (max-width: 767px){
    .human_wrap{max-width:740px;}
    .human_img{min-width:320px;height:300px;width:100%;}
    .human_content{width:100%;padding:15px;}
    #brand_story .block_brand_story_4{padding:30px 0;}
    .human_item a img{width:100%;}
    .half_img_right{width:47.5%;float:left;}
    .half_img_left{width:52.5%;float:left;}
    }
    @media (max-width: 479px){
    .section_heading{font-size:26px;}
    .line_after_heading_section:after{width:40%;}
    }
    }
    @media (min-width: 1200px) {
        .navbar-nav .caret {
        display:none;
       }
      
       .dropdown:hover .dropdown-menu {
         display: block;
        }
      }
      
      .dropdown-menu > li > a{
          line-height: 30px;
          background: none;
    color: #0f487e;
      }