.tax-product_cat #inner { width: 1170px; padding-left: 15px; padding-right: 15px; }

.woocommerce ul.products li.product .button { display: none; }

.woocommerce ul.products li.product .price { display: none; }

.woocommerce ul.products li.product .woocommerce-loop-category__title, .woocommerce ul.products li.product .woocommerce-loop-product__title, .woocommerce ul.products li.product h3 { color: #000; text-align: center; font-size: 14px; }
.woocommerce ul.products li.product:hover .woocommerce-loop-category__title, .woocommerce ul.products li.product:hover .woocommerce-loop-product__title, .woocommerce ul.products li.product:hover h3 { color: #179018 !important; }
